{% extends "base.html" %}
{% load i18n staticfiles sekizai_tags cms_tags %}

{% block title %}{% page_attribute "page_title" %}Aktaulności - {{ news.title }}{{ field_event.short_name|upper }}{% endblock title %}

{% block content %}
<br><br>
<div class="row">
    <div class="col-md-1"></div>
    <!-- Columna 1 -->
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Aktualności</div>
            <div class="panel-body">
                <h2>{{ news.title }}</h2>
                <hr>
                <p>Napisane przez {{ news.author }}, dnia {{ news.pub_date }}</p>
                <br>{{ news.lead | safe }}
                {{ news.article | safe }}
            </div>
        </div>
    </div>
    <!-- Columna 2 -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">LOL</div>
            <div class="panel-body">
                lol2
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

{% endblock content %}