{% extends "base.html" %}
{% load i18n staticfiles sekizai_tags cms_tags django_newspaper_extras %}

{% block title %}{% page_attribute "page_title" %}Aktaulności - {{ news.title }}{{ field_event.short_name|upper }}{% endblock title %}

{% block content %}

<br><br>
<div class="row">
    <div class="col-md-1"></div>
    <!-- Columna 1 -->
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Aktualności {{ author }}</div>
            <div class="panel-body">
                {% if news_list %}
                    {% for news in news_list %}
                        <h2>{{ news.title }}</h2>
                        <hr>
                        <p>Napisane przez {{ news.author }}, dnia {{ news.pub_date }}</p>
                        <br>{{ news.lead | safe }}
                        {{ news.article | safe }}
                        <br>
                    {% endfor %}
                {% else %}
                    <p>Brak wiadomości</p>
                {% endif %}
                {% if is_paginated %}
                    <div class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="/news/list?page={{ page_obj.previous_page_number }}">poprzednia</a>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                                <a href="/news/list?page={{ page_obj.next_page_number }}">następna</a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Columna 2 -->
    <div class="col-md-4">
        {% show_authors %}
    </div>
    <div class="col-md-1"></div>
</div>

{% endblock content %}
