{% extends "base.html" %}
{% load i18n staticfiles sekizai_tags cms_tags %}

{% block title %}{% page_attribute "page_title" %}Aktaulności - {{ news.title }}{{ field_event.short_name|upper }}{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}django_newspaper/css/general.css">
{% endblock extra_css %}

{% block content %}
<br><br>
<div class="row">
    <div class="col-md-1"></div>
    <!-- Columna 1 -->
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Aktualności</div>
            <div class="panel-body">
                <h2>{{ news.title }}</h2>
                <hr>
                <p>Napisane przez <a href="/news/author/{{ news.author.pk }}">{{ news.author }}</a>, dnia {{ news.pub_date }}</p>
                <br>{{ news.lead | safe }}
                {{ news.article | safe }}
            </div>
        </div>
    </div>
    <!-- Columna 2 -->
    {% include "django_newspaper/sidebar.html" %}
    <div class="col-md-1"></div>
</div>

{% endblock content %}